![](python-ki.png) 

# Webinar 2: Anaylysere og presentere data


## Mål

* lære å plotte grafer med python
* lære å lage søylediagram, histogram og kakediagram
* lære å lage enkle statistiske analyser




## Plotte grafer med python

### Eksempel 1: Enkelt linjeplott

Plott punktene gitt i tabellen nedenfor. 


| *x* | 1 | 2 | 3 | 4 | 5 |
|-----|---|---|---|---|---|
| *y* | 1 | 4 | 2 | 3 | 0 |

In [57]:


X = [1, 2, 3, 4, 5]
Y = [1, 4, 2, 3, 0]

### Eksempel 2: Plotte grafen til en kontinuerlig funksjon

Funksjonen $f$ er gitt ved $f(x) = x^2 - 3x + 2$.

Tegn grafen til $f$ for $x \in [-1, 4]$.

![array](array-romersk.png)

## Litt om lister og arrayer i Python

Lister i Python er en type variabel som kan inneholde flere elementer. Elementene i en liste kan være av ulik type. For eksempel kan en liste inneholde både tall og tekst.

```python
liste = [1, 2, 3, 4, 5]
```

Arrayer i Python er en type variabel som kan inneholde flere elementer. Elementene i en array må være av samme type. For eksempel kan en array inneholde kun tall.

```python
import numpy as np
array = np.array([1, 2, 3, 4, 5])
```

| Kode                | Forklaring                                           |
|---------------------|------------------------------------------------------|
| `L[i]`              | Plukker ut element nr i                              |
| `L[-1]`             | Det siste elementet i L                              |
| `L[i:j]`            | Elementene med indeks fra og med i til j             |
| `L[i::j]`           | Elementene med indeks fra og med indeks i, der indeksen øker med j til indeksen er høyere enn antall element i listen |
| `L.append(a)`       | Legger a til i listen som siste element              |
| `len(L)`            | Antall elementer i L                                 |
| `L.sort()`          | Sorterer liste i stigende rekkefølge                 |
| `L.sort(reverse=True)` | Sorterer liste i synkende rekkefølge               |
| `L.pop()`           | Fjerner siste element fra listen                     |
| `L.pop(i)`          | Fjerner element med indeks i fra listen              |
| `L.remove(a)`       | Fjerner første forekomst av a fra listen             |
| `del L[i]`          | Fjerner element med indeks i fra listen.             |
| `L.reverse()`       | Snur rekkefølgen på elementene i listen              |
| `max(L)`            | Gir største tall i listen                            |
| `min(L)`            | Gir minste tall i listen                             |
| `sum(L)`            | Summerer elementene i listen                         |

De viktiste funksjonene for arrayer er:


| Funkjon                   | Beskrivelse                                         |
|---------------------------|-------------------------------------------------------|
| `np.array(L)`             | Oppretter en array fra en liste `L`                     |
| `np.arange(a, b, c)`      | Oppretter en array med tall fra `a` til `b` med steglengde `c`  |
| `np.linspace(a, b, n)`    | Oppretter en array med `n` tall fra `a` til `b`            |
| `np.zeros(n)`             | Oppretter en array med `n` nuller                          |
| `np.ones(n)`              | Oppretter en array med `n` enere                           |
| `np.random.rand(n)`       | Oppretter en array med `n` tilfeldige tall mellom 0 og 1 |
| `np.random.randint(a, b, n)` | Oppretter en array med `n` tilfeldige heltall fra `a` til `b`     |
| `np.max(A)`               | Returnerer den største verdien i `A`                         |
| `np.min(A)`               | Returnerer den minste verdien i `A`                         |
| `np.sum(A)`               | Returnerer summen av elementene i `A`                       |
| `np.sort(A)`              | Sorterer `A` i stigende rekkefølge                             |

![](python2.png)

### Eksempel 3: Plotte flere grafer i samme koordinatsystem

Funksjonene $f$ og $g$ er gitt ved $f(x) = x^2 - 3x + 2$ og $g(x) = -x^2 + 3x - 2$.

Tegn grafene til $f$ og $g$ for $x \in [-1, 4]$ i samme koordinatsystem.

![](bilde1.png)

## Søylediagrammer 


![](Temparturer.png)

### Eksempel 4: Lage søylediagram


Lag en grafisk representasjon av tallene i tabellen:

| Klokkeslett        | 0.00 | 2.00 | 4.00 | 6.00 | 8.00 | 10.00 | 12.00 | 14.00 | 16.00 | 18.00 | 20.00 | 22.00 |
|--------------------|------|------|------|------|------|-------|-------|-------|-------|-------|-------|-------|
| Temperatur Leirvik | 12   | 10   | 9    | 11   | 14   | 15    | 18    | 21    | 22    | 21    | 18    | 15    |
| Temperatur Bergen  | 10   | 9    | 10   | 11   | 10   | 14    | 17    | 22    | 23    | 24    | 15    | 14    |

In [58]:

TempLeirvik = [12, 10, 9, 11, 14, 15, 18, 21, 22, 21, 18, 15]
TempBergen  = [10, 9, 10, 11, 10, 14, 17, 22, 23, 24, 15, 14]

### Eksempel 5

Tabellen nedenfor viser antall ansatte lærere i Vestland fylke for noen år. 

Lag grafisk illustrasjoner av  tallene i tabellen:

| Årstall   |  2017   |  2018 | 2019  | 2020 | 2021 | 2022 |
|-----------|---------|-------|-------|------|------|------|
| Menn:     | 1496    |  1404 | 1430  | 1376 | 1413 | 1431 |
| Kvinner   | 1596    |  1598 | 1633  | 1620 | 1616 | 1429 |

Kilde: [udir.no](https://www.udir.no/tall-og-forskning/statistikk/statistikk-videregaende-skole/larere-videregaende-skole/)

In [59]:

Menn = [1406,1404 , 1430 , 1376 ,1413 , 1431]
Kvinner = [1596, 1598, 1622, 1620 , 1616 , 1429]

## Sektordiagrammer

### Eksempel 6  

Lag et sekstordiagram som illusterer tallene i tabellen: 

| Sted       | Folketall |
|------------|-----------|
| Stord      | 19287     |
| Fitjar     | 3203      |
| Kvinnherad | 13089     |
| Etne       | 4072      |
| Austevoll  | 5300      |
| Bømlo      | 12268     |
| Tysnes     | 2922      |
| Sveio      | 5742      |

In [60]:


Kommuner = ["Stord", "Fitjar", "Kvinnherat", "Etne", "Austevoll", "Bømlo", "Tysnes", "Sveio"] 
Innbyggere = [19287, 3203, 13089, 4072, 5300, 12268, 2922, 5742]

![](histo.png) 

## Histogram

### Eksempel 7

Nedenfor ser du alderen til personalet ved en skole: 

    36, 25, 38, 46, 55, 68, 52, 55, 36, 38 
    67, 45, 22, 48, 41, 46, 52, 61, 58, 55

Illustrer tallene i et historgram. Velg selv grenser.

### Eksempel 8

Høyden til 20 personer er gitt ved: 

```python
184.3, 196.5, 189.0, 190.0, 180.5, 
187.8, 186.7, 167.5, 183.3, 170.5, 
180.5, 182.4, 183.7, 176.5, 174.4, 
185.8, 185.4, 183.4, 182.7, 182.5
```

a) Regn ut gjennomsnittshøyden og standardavviket til høydene. 

b) Illustrer høydene i et histogram. Bruk grensene 170, 175, 180, 185, 190.

In [61]:
Høyder = [
    184.3, 196.5, 189.0, 190.0, 180.5, 
    187.8, 186.7, 167.5, 183.3, 170.5, 
    180.5, 182.4, 183.7, 176.5, 174.4, 
    185.8, 185.4, 183.4, 182.7, 182.5 
    ]